body{
    background-color: beige;
}
.navbar{
    margin-top: 20px;
    text-align: center;
}
.navbar a{
          text-decoration: none;
          color:rgb(146, 101, 46);
          padding-bottom: 5px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          padding:0px 10px;
          
}
.navbar a:hover{
    text-decoration: underline rgb(146, 101, 46);
}
.cart{
    float: right;
    padding-right: 15px;
}
.liv{
    float:left;
}
img.a{
    vertical-align: baseline;
    text-align: center;
}
.b{
    float: left;
}
div{
    text-align:center;
}
footer{
    background-color: rgb(28, 27, 27);
    color:white;
    padding:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
footer a{
    color:white;
}
.f-l img{
    width:10 0%;
    height:30%;
    margin-bottom:20px;
}
.f-r img{
   width:100%;
   height:30%;
   margin-bottom:20px;

}
